.begin{background-color: blue; 
    color:white}

.container{
    background-color: lightgray;
    color: black;
}
#divp{color: red;}
.highlight{color: green;}
.main-content{background-color: yellow;}

.align{text-align: center;}

.underline{text-decoration: none;}

h1,h2,h3,h4,h5,h6{text-decoration: dashed underline;}

.bold-text{font-weight: bold;}

#intro{font-weight: 300;}

*{font-family: arial,sans-serif;}

.custom-font{font-family: 'Times New Roman',sans-serif;}

.header{text-transform: uppercase;}